extends ../layout

block content
  .container-fluid.m-auto
    .row.justify-content-center.align-items-center.text-light
      .col-md-6
        .col-md-12
          .card.bg-dark
            .card-body.bg-dark.text-light
              form.form(action='/login' method='post')
                +csrf
                h3.text-center Login
                .form-group
                  label(for='email') E-mail:
                  br
                  input#email.form-control(type='text' name='email' required)
                .form-group
                  label(for='password') Password:
                  br
                  input#password.form-control(type='password' name='password' required)
                .form-group
                  br
                  input.btn.btn-primary.btn-md(type='submit' name='submit' value='login')
            .card-footer.bg-secondary.text-light
              p no account 
                span
                  a.text-primary(href="/register") register here 