include ../mixins/helper
doctype html
html
  head
    title Dashboard - #{title}
    block meta
    block scripts
    link(rel='stylesheet', href='/dist/admin/app.css')
    style
      block style
      
  body#page-top
    // Page Wrapper
    #wrapper
      include partials/sidebar
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        // Main Content
        #content
          include partials/navbar
          #app
            block content

          // /.container-fluid
        // End of Main Content
        include ../partials/footer
      // End of Content Wrapper
      // End of Page Wrapper
  // Scroll to Top Button
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up

    script(src='/dist/admin/app.js')
    block bottom-script
