nav.navbar.navbar-expand-lg.navbar-dark.mb-2.sticky-top#nav
	a.navbar-brand(href='/') Menu
	ul.navbar-nav.ml-auto
		if !isAuthenticated
			li.nav-item
				a.nav-link(href='/login') login
			li.nav-item
				a.nav-link(href='/register') register
		else
			li.nav-item
				a.nav-link(href='/logout') logout 