extends ../layout
include ../mixins/film-card

block scripts

block content
  h1.text-white dashboard
  .d-flex.flex-row.flex-wrap.justify-content-start.justify-content-center
    each serie in series
      +film-card(serie)        