doctype html
html
  head
    //- TODO: update title 
    title #{title}
    block scripts
    link(rel='stylesheet', href='/dist/video.css')
    style
    block style

  body
    #content.content
      video#my-video.video-js.vjs-default-skin.vjs-fill.vjs-big-play-centered(controls preload="auto" data-setup='{ "playbackRates": [1, 1.5, 2] }')
        source(src="/videos/parisian gnocchi.mp4")
        p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that 
          a(href="https://videojs.com/html5-video-support/" target="_blank") supports HTML5 video
    script(src='/dist/video.js')
