extends ../layout

block meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 AltSource create

    .card
      .card-body
        form.form(action="/admin/altsource/create?_csrf="+csrfTokenFunction() method="post" enctype="multipart/form-data")
          .row
            .col-md-6
              .row
                .col
                  .form-group
                    label(for="episode").form-label Episode select
                    select#episode(name="episode_id" required).form-control
                      option(value=null disabled selected) Select Episode  
                      each episode in episodes
                        option(value=episode.id) #{episode.title} 
                  .form-group 
                    label(for="alt_title").form-label alt_title
                    input#alt_title(type="text" name="alt_title" placeholder="alt_title" required).form-control
                  .form-group
                    //- TODO: dropdown 
                    label(for="description").form-label locale
                    textarea#description(name="description", cols="30", rows="10" placeholder="No synopsis given.").form-control
                  .form-group
                    //- TODO: video source upload
                    label(for="videoSource") video_source
                    input#videoSource(type="file" name="video_source").form-control
          .row
            .col 
              button(type="submit").btn.btn-primary.float-right create