extends layout

block scripts

block content
  .container-fluid.m-auto
    .row.justify-content-center.align-items-center.text-light
        .col-md-6
            .col-md-12
              h1.p-0.p-lg-5 Lorem ipsum dolor sit amet consectetur adipisicing elit.
    .row.text-light.p-5(style="min-height: 16rem")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius hic amet at possimus quos in natus deleniti enim tenetur quisquam inventore, sit culpa animi numquam, temporibus distinctio veniam, praesentium aperiam?
    .row.text-light.p-5(style="min-height: 16rem")
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum vel, omnis doloremque culpa ex, officiis magnam consequuntur in voluptatum accusantium eveniet. Harum ipsam sint unde. Iste nemo architecto rem hic.
