include mixins/helper
doctype html
html
  head
    //- TODO: update title 
    title test app - #{title}
    block scripts
    link(rel='stylesheet', href='/dist/app.css')
    style
      block style

  body
    include partials/header
    include partials/navbar

    //- include partials/flash
    block content

    include partials/footer

    script(src='/dist/app.js')
    block bottom-script
