@import '~bootstrap';

// icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';


// custom
// @import 'custom/tile/tile';
// @import 'custom/side-modal';
// @import 'custom/sizeing';

// TODO: fix primary color

html, body {
    // width: 100%;
    // height: 100%;
    // color: $light;
    background-color: #202020;
}