@import '_skin';
@import "~video.js/src/css/vjs.scss";

html, body {
    background-color: rgb(41, 40, 40);
}

.content {
    width: 100%;
    height: 100vh;
}

.vjs-no-js {
    background-color: white;
    color: black;
}