extends ../layout

block meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Season create

    .card
      .card-body
        form.form(action="/admin/season/create" method="post")
          +csrf
          .row
            .col-md-6
              .row
                .col
                  .form-group
                    label(for="serie").form-label Serie select
                    select#serie(name="serie_id" required).form-control
                      option(value=null disabled selected) Select Serie  
                      each serie in series
                        option(value=serie.id) #{serie.title} 
                  .form-group 
                    label(for="title").form-label #{ __('title') }
                    input#title(type="text" name="title" placeholder=__('title') required).form-control
                  .form-group 
                    label(for="description").form-label #{__('description')}
                    textarea#description(name="description", cols="30", rows="10" placeholder=__('no_synopsis')).form-control
          .row
            .col 
              button(type="submit").btn.btn-primary.float-right create