extends ../layout

block meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Serie

      a(href='/admin/serie/create').btn.btn-primary.btn-icon-split.float-right
        span.icon.text-white-50
          i.fas.fa-plus-square
        span.text create serie
    .card
      .card-body
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a#published-tab.nav-link.active(data-toggle='tab' href='#published' role='tab' aria-controls='published' aria-selected='true') published
          li.nav-item
            a#draft-tab.nav-link(data-toggle='tab' href='#draft' role='tab' aria-controls='draft' aria-selected='false') draft

        .tab-content
          #published.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='published-tab')
            table.table
              tr
                th id
                th title
                th description
                th 
              each serie in series
                tr
                  td
                    #tooltip.fas.fa-info-circle(data-tippy-content=serie.id+"<br />"+serie.createdAt+"<br />"+serie.updatedAt)
                  td #{serie.title}
                  td #{serie.description}
                  td
                    .btn-group.float-right
                      a(href="/admin/serie/show/"+serie.id).btn.btn-primary show
                      a(href="/admin/serie/edit/"+serie.id).btn.btn-warning edit

          #draft.tab-pane.fade(role='tabpanel' aria-labelledby='draft-tab')
            h1 TODO non published series here
            table.table
              tr
                th id
                th title
                th description
                th 
              each serie in series
                tr
                  td
                    .fas.fa-info-circle(data-toggle="tooltip" data-placement="top" data-html="true" title=serie.id+"<br />"+serie.createdAt+"<br />"+serie.updatedAt)
                  td #{serie.title}
                  td #{serie.description}
                  td
                    .btn-group.float-right
                      a(href="/admin/serie/show/"+serie.id).btn.btn-primary show
                      a(href="/admin/serie/edit/"+serie.id).btn.btn-warning edit