extends ../layout

block meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Serie create

    .card
      .card-body
        .row
          .col-md-6
            .row
              .col
                .form-group
                  label(for="title").form-label #{__('title')}
                  p#title #{serie.title}
                .form-group 
                  label(for="description").form-label #{__('description')}
                  p#description #{serie.description}
          .col-md-6
            .row
              .col
                .form-group
                  label(for="thumbnail") #{__('thumbnail_preview')}
                  input#thumbnail(type="file").form-control
                  img(src="", alt="thumbnail preview")
        hr

        .row.mb-3
          .col 
            h3.mb-3.text-gray-800 Content List
            select.custom-select.content-toggle
              each season in serie.seasons
                option(href='#'+season._id) #{season.title}
        
        .row.content-toggle
          .col
            each season, i in serie.seasons 
              div(id=season._id style=i==0 ?'' : 'display: none;').mb-3
                h4 #{season.title}
                each episode, i in season.episodes
                  .card
                    .card-header
                      .row
                        .col
                          h5 #{episode.title}
                        .col
                          a(data-toggle="collapse" data-target="#ep"+episode._id).float-right 
                            span.fas.fa-bars
                    .card-body.collapse.show(id='ep'+episode.id)
                      each source in episode.sources
                        p.mb-1
                          | #{source._id}
                          | #{source.alt_title}
                          | #{source.locale}
                          | #{source.video_source}
        .row
          .col
            .btn-group.float-right 
              a(href="/admin/serie/edit/"+serie.id).btn.btn-warning edit
              a(href="#").btn.btn-danger delete