extends ../layout

block meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Episode create

    .card
      .card-body
        form.form(action="/admin/episode/create" method="post")
          +csrf
          .row
            .col-md-6
              .row
                .col
                  .form-group
                    label(for="season").form-label season select
                    select#season(name="season_id" required).form-control
                      option(value=null disabled selected) Select season
                      each season in seasons
                        option(value=season.id) #{season.title} 
                  .form-group 
                    label(for="title").form-label Title
                    input#title(type="text" name="title" placeholder="Titel" required).form-control
                  .form-group 
                    label(for="description").form-label Description
                    textarea#description(name="description", cols="30", rows="10" placeholder="No synopsis given.").form-control
          .row
            .col 
              button(type="submit").btn.btn-primary.float-right create