// Topbar
nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
  // Sidebar Toggle (Topbar)
  button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
    i.fa.fa-bars