// Sidebar
ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  // Sidebar - Brand
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/admin')
    //- .sidebar-brand-icon.rotate-n-15
    //-     i.fas.fa-laugh-wink
    .sidebar-brand-text.mx-3
      | Dashboard 

  // Divider
  hr.sidebar-divider.my-0
  // Nav Item - Dashboard
  li.nav-item.active
    a.nav-link(href='/admin/dashboard')
      span Dashboard

  // Divider
  hr.sidebar-divider

  // Heading
  .sidebar-heading
    | Series &amp; Dashboard

  // Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link(href="/admin/series/")
      i.fas.fa-film
      span Series

  // Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapsePages' aria-expanded='true' aria-controls='collapsePages')
      i.fas.fa-fw.fa-folder
      span temp
    #collapsePages.collapse(aria-labelledby='headingPages' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        h6.collapse-header TODO:
        a.collapse-item(href='/admin/season/create') add season
        a.collapse-item(href='/admin/episode/create') add episode 
        a.collapse-item(href='/admin/altsource/create') add source 

  // Divider
  hr.sidebar-divider

  // Heading
  .sidebar-heading
    | Statistics

  // Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapsePages' aria-expanded='true' aria-controls='collapsePages')
      i.fas.fa-fw.fa-folder
      span Subscriptions
    #collapsePages.collapse(aria-labelledby='headingPages' data-parent='#accordionSidebar')
      .bg-white.py-2.collapse-inner.rounded
        h6.collapse-header TODO:
        a.collapse-item(href='#') Lorem
        a.collapse-item(href='#') Ipsum



  // Divider
  hr.sidebar-divider.d-none.d-md-block

  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0

// End of Sidebar